body {
	margin: 0px;
	font-family: Roboto, arial, sans-serif;
}
/* Formatting for top bar elements */
#search-form {
	padding-top:20px;
	background-color:#fafafa;
	height: 65px;
	width:100%;
	position: relative;
	display: block;
}

.profile-spot {
	display:inline-block;
	position:relative;
	left:84.6%;
	top:-8px;
}

.profile-picture {
	border-radius:50%;
	width:32px;
	height:32px;
}

.search-icon {
	position:absolute;
	display:inline-block;
	height:24px;
	width:24px;
	top:34px;
	left:625px;
}

.logo {
	padding-left: 13px;
	padding-right: 12px;
	padding-top:7px;
	display: inline-block;
}

.search-field-pad {
	padding: 6px 9px 0px 16px;
	display:inline-block;
	position:absolute;
	border-radius: 2px;

}
.search-field {
	display: block;
	height:44px;
	width:511px;
	font-size:16px;
	font-family:Arial, sans-serif;
	background-color: #fff;

}

.search-field:hover, focus, active { /* drop-shadow effect for search bar */
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08), 1px 0 0 0 #fafafa;
}

/* section above search results showing options */

.results-tabs {
	position:relative;
	display:block;
	background-color: #fafafa;
	height:50px;
	width:100%;

}

.extra-space {
	display:inline-block;
	width:150px;
}

.results-tabls:nth-child(2) {
	border-color: rgb(66, 133, 244);
	border-style: solid;
	border-bottom: 12px;
}

.nav-option {
	display:inline-block;
	padding-top: 20px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

.nav-option > a:link, a:visited {
	text-decoration:none;
	font-family: Roboto, arial, sans-serif;
	color: rgb(119, 119, 119);
	font-size:13px;

}

#nav-op-selected {
	color: rgb(66, 133, 244) !important;
	font-weight: bold;
}

/* Below format applies to search-results number results at top of page */

.search-results-number {
margin-left: 150px;
display: block;
padding: 0 8px 0 16px;

}
.search-results-number > p {
	color:rgb(128, 128, 128);
	font-family: Roboto, arial, sans-serif;
	font-size: 13px;
	line-height: 43px;
	vertical-align: middle;
}

/* Individual search results */

.search-results-list-div {
	display: block;
	margin-left: 150px;
	width: 632px;
}

.search-results-list-ul {
	padding: 0 16px 0 16px;
}

.individual-result-block {
	margin: 0 0 26px 0;
}

.result-info-title > a {
	text-decoration:none;
	color:rgb(26, 13, 171);
	font-size: 18px;
	font-family: Roboto, arial, sans-serif;
	line-height: 21.6px;
}
.result-info-title > a:hover {
	text-decoration:underline;
	cursor: pointer;
}

.result-info-url {
	font-size: 14px;
	line-height: 16px;
	white-space:nowrap;
	color: rgb(0, 102, 33);
	font-family: Roboto, arial, sans-serif;
}

.result-info-content {
	font-size: 13px;
	color:rgb(84, 84, 84);
	font-family: Roboto, arial, sans-serif;
	line-height: 18.2px;
}

.youtube-thumbnail {
	display:block;
	width: 116px;
	height: 65px;
	position: relative;
  overflow: hidden;
	top: 3px;
}

.youtube-pic {
	margin: -11px 0 -11px 0;
}

.youtube-detail {
	position: relative;
	margin-left: 125px;
	top: -65px;
	margin-bottom: -55px;
}

.result-timestamp {
	color: #808080;
	font-family: Roboto, arial, sans-serif;
	line-height: 18px;
	font-size: 13px;
}

/* style elements for search suggestions at bottom of page. */

h3 {
	font-family: Roboto, arial, sans-serif;
	line-height: 18px;
	font-size: 18px;
	padding-bottom: 12px;
	line-height: 26px;
}

.search-suggestion-div {
		display: block;
		margin-left: 150px;
		padding: 0 16px 0 16px;
		width: 632px;

	}
.suggestions-list {
	display: inline-block;

}

.suggestions-list > li {
	padding: 3px 32px 0px 3px;
}

.suggestions-list > li > a {
	text-decoration:none;
	color:rgb(26, 13, 171);
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}

.suggestions-list > li > a > b {
	font-weight: bold;
}

.suggestions-list > li > a:hover {
	text-decoration:underline;
	cursor: pointer;
}

/* Google result pages navigation area */



/* Footer */
.footer {
	position:absolute;
	display: block;
	border-top-color: rgb(228, 228, 228);
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: 20px;
	margin-top: 18px;
	background-color: rgb(242, 242, 242);
	background-origin: padding-box;
	background-size: auto;
	font-size: 13px;
	line-height: 40px;
	width: 100%;
	min-width: 980px;
}

.footer > p > .dot {
border-top-right-radius: 100%;
border-top-left-radius: 100%;
border-bottom-left-radius: 100%;
border-bottom-right-radius: 100%;
width: 10px;
height: 10px;
background-color: rgb(158, 158, 158);
background-clip: border-box;
background-origin: padding-box;
background-size: auto;
display:inline-block;
margin-right: 4px;
}

.footer > p {
	margin-left: 166px;
	line-height: 15px;
	color: #aaa;
	padding-bottom: 20px;
}

.footer > p > a {
	text-decoration: none;
	color: #777;
}

.footer > p > a:hover {
	text-decoration: underline;
	color: #333;
}

.anchor-pad {
	padding-left: 27px;
}
