body {
	margin: 0px;
}
/* Formatting for top bar elements */
#search-form {
	padding-top:20px;
	background-color:#fafafa;
	height: 65px;
	width:100%;
	position: relative;
	display: block;
}

.profile-spot {
	display:inline-block;
	position:relative;
	left:84.6%;
	top:-8px;
}

.profile-picture {
	border-radius:50%;
	width:32px;
	height:32px;
}

.search-icon {
	position:absolute;
	display:inline-block;
	height:24px;
	width:24px;
	top:34px;
	left:625px;
}

.logo {
	padding-left: 13px;
	padding-right: 12px;
	padding-top:7px;
	display: inline-block;
}

.search-field-pad {
	padding: 6px 9px 0px 16px;
	display:inline-block;
	position:absolute;
	border-radius: 2px;

}
.search-field {
	display: block;
	height:44px;
	width:511px;
	font-size:16px;
	font-family:Arial, sans-serif;
	background-color: #fff;
	
}

.search-field:hover, focus, active { /* drop-shadow effect for search bar */
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08), 1px 0 0 0 #fafafa;
}

/* section above search results showing options */

.results-tabs {
	position:relative;
	display:block;
	background-color: #fafafa;
	height:50px;
	width:100%;

}

.extra-space {
	display:inline-block;
	width:150px;
}

.results-tabls:nth-child(2) {
	border-color: rgb(66, 133, 244);
	border-style: solid;
	border-bottom: 12px;
}

.nav-option {
	display:inline-block;
	padding-top: 20px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

.nav-option > a:link, a:visited {
	text-decoration:none;
	font-family: Roboto, arial, sans-serif;
	color: rgb(119, 119, 119);
	font-size:13px;

}

#nav-op-selected {
	color: rgb(66, 133, 244) !important;
	font-weight: bold;
}
